.header {
    background-color: #263238;
    height: 75px;
    display:flex;
  }

  .header-logo {
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    height: 75px;
    margin-left: 20px;
  }

  .header-search {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:75px;
  }

  .header-login {
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .login-box {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width:auto;
    height:40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .loggedin-box {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:auto;
    height:40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .myModal {
    position:absolute;
    width:auto;
    height:auto;
    left:35%;
    top:20%;
    padding:20px;
    background-color: whitesmoke;
  }
  .errMsg {
      color:red;
  }
  .buttonStyle {
      color:greenyellow;
  }
  .header-loggedin {
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }
