.header {
    background-color: #263238;
    height: 75px;
    display:flex;
  }

@media only screen and (max-width: 600px) { /* Screen responsivness */
   
    .header {
      background-color: #263238;
      height: 115px;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .header-login {
      flex:1;
      display:flex;
      justify-content: flex-start !important;
      align-items: center;
      margin: 5px;
    
    }
  
}   

  .header-logo {
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    height: 75px;
    margin-left: 20px;
  }

  .header-search {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:75px;
  }

  .header-login {
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .login-box { /* login box */
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width:auto;
    height:40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .loggedin-box { /* Display once logged in */
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:auto;
    height:40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .myModal { /* Definition of modal to show - login and signup */
    position:fixed;
    width: auto;
    height:auto;
    left:35%;
    top:20%;
    padding:20px;
    background-color: whitesmoke;
    text-align: center;
  }
  .errMsg {
      color:red;
      text-align: center;
  }
  .buttonStyle {
      color:white;
  }
  .header-loggedin {
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    color: white;
  }
